/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap"); */

/* NORMALIZATION */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: calc(16px + 0.396vw);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Outfit", sans-serif;
    box-sizing: inherit;
}

/* TYPOGRAPGY */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 700;
    color: #171646;
}

h1 {
    font-size: 6rem;

    line-height: 6.625rem;
}

h2 {
    font-size: 4.5rem;
    line-height: 5.375rem;
}

h3 {
    font-size: 3.5rem;
    line-height: 4.1875rem;
}

h4 {
    font-size: 2.5rem;
    line-height: 3.75rem;
}

h5 {
    font-size: 2rem;
    line-height: 3rem;
}

h6 {
    font-size: 1.75rem;
    line-height: 2.625rem;
}

@media screen and(max-width: 375px) {
    h1 {
        font-size: 4rem;
        line-height: 4.8125rem;
    }

    h2 {
        font-size: 3rem;
        line-height: 3.625rem;
    }

    h3 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }
    h4 {
        font-size: 2rem;
        line-height: 3rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
